version: '3'

services:
   traefik-proxy:
       container_name: ${COMPOSE_PROJECT_NAME}_traeffik
       image: traefik
       restart: always
       networks:
           - back
       command:
           - "--log.level=DEBUG"
           - "--api.insecure=true"
           - "--providers.docker=true"
           - "--entrypoints.web.address=:80"
       ports:
           - "80:80"
           - "8080:8080"
       volumes:
           - /var/run/docker.sock:/var/run/docker.sock:ro

   phpmyadmin:
        container_name: ${COMPOSE_PROJECT_NAME}_pma
        image: phpmyadmin/phpmyadmin
        networks:
            - back
        environment:
            PMA_HOST: ${DATABASE_HOST}
            PMA_USERNAME:  ${DATABASE_USER}
            PMA_PASSWORD:  ${DATABASE_PASSWORD}
        labels:
            - traefik.http.routers.my-app.rule=Host(`pma.beer.localhost`)